data/coco/annotations/*
data/coco/images/*
data/flickr8k/
models/SAT/*
outputs/attens_flicker8k_1000_samples_384.pkl 
outputs/predicted_captions.csv
checkpoint/*

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python